* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --col1: #0d4254;
  --col2: #85dfe0;
}

nav {
  height: 12vh;
  background: var(--col1);
  border-bottom: solid black;
}

.nav-objects {
  padding: 0 10vw;
}

.logo {
  width: 5.25vw;
  height: 12vh;
  background-size: cover;
  border-radius: 5px;
  margin-left: 6vw;
}

.body {
  min-height: 88vh;
  background: linear-gradient(305deg, var(--col2), var(--col1));
}

.heading {
  color: white;
}

.image {
  width: 40vw;
  height: 50vh;
  padding: 5vh;
}

.file-upload {
  left: 3vw;
  position: relative;
}
